---
import MainLayout from "@/layouts/MainLayout.astro";
import BlogCard from "@/components/BlogCard.astro";
---

<MainLayout title="devChallenges | Minimal Blog Card">
  <div class="flex h-screen items-center justify-center px-4">
    <BlogCard />
  </div>
</MainLayout>
