---
import Image from "astro/components/Image.astro";

import cactus from "@/assets/cactus_img.jpg";

interface Props {
  title: string;
  author: string;
  tags?: string[];
}

const { title, author, tags } = Astro.props;
---

<div class="bg-theme-card shadow-theme relative mx-auto max-w-[368px] rounded-2xl p-4">
  <article>
    <Image
      src={cactus}
      alt={"A beautiful cactus plant in a pot."}
      class="max-w-full rounded-2xl"
      loading={"eager"}
      format="webp"
    />
    <div class="flex flex-wrap gap-2">
      {
        Array.isArray(tags) &&
          tags.length > 0 &&
          tags.map((tag) => (
            <div class="bg-theme-light-purple mt-6 inline-block rounded-full px-3 py-1">
              <span class="text-theme-purple flex items-center text-[0.625rem] font-bold">
                {tag}
              </span>
            </div>
          ))
      }
    </div>
    <div>
      <div class="mb-6 py-4">
        <h1 class="text-theme-dark-blue mb-1 text-lg font-semibold">{title}</h1>
        <p class="text-theme-slate text-sm">
          <slot />
        </p>
        <span class="border-theme-light-gray absolute bottom-14 left-0 w-full border-b"></span>
      </div>
    </div>
    <p class="text-theme-slate mt-4 pb-1 text-xs">{author}</p>
  </article>
</div>
